body {
    padding: auto;
    margin: auto;

}

header {
    background-color: #383464;
    display: flex;
    align-items: center;
    margin-top: 0%;
}

#logo {
    margin: 10px;

}

#adoteme {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

}

#logo {
    margin: 10px;

}

#div1 {
    display: flex;
}

.info-detail {
    margin-left: 30rem;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #383464;
}

@media screen and (max-width: 768px) {
    #div1 {
        flex-direction: column;
        /* Altere a direção do flex para empilhar verticalmente */
    }

    .info-detail {
        margin-left: 0;
        /* Remova a margem à esquerda para empilhar os itens */
    }
}

button {
    font-family: 'Nunito', sans-serif;
    background-color: #383464;
    color: white;
    border-width: 0px;
    border-radius: 16px;
    width: 100px;
    height: 40px;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgba(166, 162, 208);
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgba(166, 162, 208);
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    background: rgb(255, 255, 255);

}

th {
    background: rgb(193, 188, 238);
    text-align: center;
    color: rgb(66, 65, 65)
}

.image-upload {
    width: 200px;
    height: 200px;
}

footer {
    background-color: #383464;
    padding: 5px;
    padding-left: 50px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    color: white;
    text-align: center;
}

.butao-vei{
    text-decoration: none;
    color: white;
}