body {
    font-family: 'Nunito', sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: #383464;
    flex-direction: row;
}

#logo {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;

}

#logo,
nav {
    align-items: end;
}

#logo2 {
    margin: 10PX;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-link {
    color: white;
}

h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}
.search {
    justify-content: center;
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
    flex-direction: row;
    align-items: center;
}

#search-box {
    width: 150%;
    border: 1px solid #dedede;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 16px;
    padding: 5%;
    text-align: center;
}

#toggle-form {
    align-self: center;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    margin-inline-end: 1%;
    border: 1px solid #dedede;
    border-radius: 4px;
    background-color: #f1f1f1;
    padding: 0.6%;
    padding-inline: 1%;
}


#form {
   display: flex;
    justify-content: center;
    align-items: center;
}


#my-form {
    margin-left: 35%;
    justify-content: center;
    display: none;
    position: fixed;
    z-index: 2;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    text-align: center;

}

#my-form table {
    width: 100%;
    border-collapse: collapse;
}

#my-form th,
#my-form td {
    border: 1px  rgb(0, 0, 0, 0.1) solid;
    padding: 10px;
    padding-inline: 30px;
    text-align: center;
}

#my-form th {
    background-color: #383464;
    color: #fff;
}



#Filtrar {
    background-color: #383464;
    color: #fff;
    border: none;
    padding: 2%;
    padding-inline: 10%;
    margin: 10px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 4px;
}


.gallery {
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10%;
}

.polaroide {
    flex: 0 0 calc(24% - 10px);
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    transition: transform 350ms ease, opacity 350ms linear;
    text-align: center;
    border-radius: 4px;

}

.img-test {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 80%;
    margin-top: 10%;
    border-radius: inherit;
}

.gallery:has(.polaroide:hover) .polaroide:not(:hover) {
    transform: scale(.96);
}

a {
    color: white;
}

.info-cat {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

#buttons-share-fill {
    background: none;
    /* Remove background */
    border: none;
    /* Remove border */
    padding: 0;
    /* Remove padding */
}

#buttons-share-fill .share-fill {
    width: 16px;
    height: 16px;
    fill: currentColor;
    /* This takes the color of the surrounding text */
    stroke: none;
    /* This removes the stroke (borders) */
}

#buttons-share-fill:focus {
    outline: none;
    /* Remove the focus outline */
}

.modal {
    position: fixed;
    margin-top: 20%;
    margin-left: 35%;
    justify-content: center;
    z-index: 9999;
    display: none;
}

.modal__content {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 30%;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

.modal__title {
    font-size: 24px;
    margin-top: 0;
}

.modal__text {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.modal__text a {
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    background-color: #4a4a4a;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
}

.modal__text a:hover {
    transform: scale(1.2);
}

.modal__cancelar {
    display: flex;
    margin-top: 20px;
    margin-left: 40%;
    padding: 10px 20px;
    background-color: #4a4a4a;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.modal__cancelar:hover {
    background-color: #555;
}

svg {
    cursor: pointer;
    overflow: visible;
    width: 50px;
}

svg #heart {
    transform-origin: center;
    animation: animateHeartOut .3s linear forwards;
}

svg #main-circ {
    transform-origin: 29.5px 29.5px;
}

.checkbox {
    display: none;
    float: left;
}

.checkbox:checked+label svg #heart {
    transform: scale(0.2);
    fill: #E2264D;
    animation: animateHeart .3s linear forwards .25s;
}

.checkbox:checked+label svg #main-circ {
    transition: all 2s;
    animation: animateCircle .3s linear forwards;
    opacity: 1;
}

.checkbox:checked+label svg #heartgroup1 {
    opacity: 1;
    transition: .1s all .3s;
}

.checkbox:checked+label svg #heartgroup1 #heart1 {
    transform: scale(0) translate(0, -30px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup1 #heart2 {
    transform: scale(0) translate(10px, -50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #heartgroup2 {
    opacity: 1;
    transition: .1s all .3s;
}

.checkbox:checked+label svg #heartgroup2 #heart1 {
    transform: scale(0) translate(30px, -15px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup2 #heart2 {
    transform: scale(0) translate(60px, -15px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #heartgroup3 {
    opacity: 1;
    transition: .1s all .3s;
}

.checkbox:checked+label svg #heartgroup3 #heart1 {
    transform: scale(0) translate(30px, 0px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup3 #heart2 {
    transform: scale(0) translate(60px, 10px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #heartgroup4 {
    opacity: 1;
    transition: .1s all .3s;
}

.checkbox:checked+label svg #heartgroup4 #heart1 {
    transform: scale(0) translate(30px, 15px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup4 #heart2 {
    transform: scale(0) translate(40px, 50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #heartgroup5 {
    opacity: 1;
    transition: .1s all .3s;
}

.checkbox:checked+label svg #heartgroup5 #heart1 {
    transform: scale(0) translate(-10px, 20px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup5 #heart2 {
    transform: scale(0) translate(-60px, 30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #heartgroup6 {
    opacity: 1;
    transition: .1s all .3s;
}

.checkbox:checked+label svg #heartgroup6 #heart1 {
    transform: scale(0) translate(-30px, 0px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup6 #heart2 {
    transform: scale(0) translate(-60px, -5px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #heartgroup7 {
    opacity: 1;
    transition: .1s all .3s;
}

.checkbox:checked+label svg #heartgroup7 #heart1 {
    transform: scale(0) translate(-30px, -15px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup7 #heart2 {
    transform: scale(0) translate(-55px, -30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #heartgroup2 {
    opacity: 1;
    transition: .1s opacity .3s;
}

.checkbox:checked+label svg #heartgroup3 {
    opacity: 1;
    transition: .1s opacity .3s;
}

.checkbox:checked+label svg #heartgroup4 {
    opacity: 1;
    transition: .1s opacity .3s;
}

.checkbox:checked+label svg #heartgroup5 {
    opacity: 1;
    transition: .1s opacity .3s;
}

.checkbox:checked+label svg #heartgroup6 {
    opacity: 1;
    transition: .1s opacity .3s;
}

.checkbox:checked+label svg #heartgroup7 {
    opacity: 1;
    transition: .1s opacity .3s;
}

@keyframes animateCircle {
    40% {
        transform: scale(10);
        opacity: 1;
        fill: #DD4688;
    }

    55% {
        transform: scale(11);
        opacity: 1;
        fill: #D46ABF;
    }

    65% {
        transform: scale(12);
        opacity: 1;
        fill: #CC8EF5;
    }

    75% {
        transform: scale(13);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: .5;
    }

    85% {
        transform: scale(17);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: .2;
    }

    95% {
        transform: scale(18);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: .1;
    }

    100% {
        transform: scale(19);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: 0;
    }
}

@keyframes animateHeart {
    0% {
        transform: scale(0.2);
    }

    40% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes animateHeartOut {
    0% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

button {
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

button:active {
    transform: scale(0.9);
}

footer {
    margin-top: 10%;
    margin-bottom: 0;
    background-color: #383464;
    color: white;
    text-align: center;
    padding: 10px;
}