body {
    font-family: 'Nunito', sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

header {
    background-color: #383464;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
}

h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'24
}

#toggle-form {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    font-size: 20px;
    margin-left: 10px;
}

.search {
    margin: 3%;
    display: flex;
    flex-direction: row;
}

#my-form {
    display: none;
    position: fixed;
    z-index: 0;
    background-color: white;
    margin-left: 30%;
    margin-right: 25%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}

#my-form table {
    width: 100%;
    border-collapse: collapse;
}

#my-form th,
#my-form td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#my-form th {
    background-color: #383464;
    color: #fff;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
    padding: 10px;
    /* Espaço entre as polaroides */
}

.polaroide {
    flex: 0 0 calc(25% - 10px);
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    transition: transform 350ms ease, opacity 350ms linear;
    text-align: center;
    border-radius: 4px;
}
.img-test {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 80%;
    margin-top: 10%;
    border-radius: inherit;
}

.gallery:has(.polaroide:hover) .polaroide:not(:hover) {
    transform: scale(.96);
}

.info-cat {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
svg {
    cursor: pointer;
    overflow: visible;
    width: 50px;
}

svg #heart {
    transform-origin: center;
    animation: animateHeartOut .3s linear forwards;
}

svg #main-circ {
    transform-origin: 29.5px 29.5px;
}

.checkbox {
    display: none;
    float: left;

}

.checkbox:checked+label svg #heart {
    transform: scale(0.2);
    fill: #E2264D;
    animation: animateHeart .3s linear forwards .25s;
}

.checkbox:checked+label svg #main-circ {
    transition: all 2s;
    animation: animateCircle .3s linear forwards;
    opacity: 1;
}

.checkbox:checked+label svg #heartgroup1 {
    opacity: 1;
    transition: .1s all .3s;
}

.checkbox:checked+label svg #heartgroup1 #heart1 {
    transform: scale(0) translate(0, -30px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup4 #heart1 {
    transform: scale(0) translate(30px, 15px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup5 #heart1 {
    transform: scale(0) translate(-10px, 20px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup6 #heart1 {
    transform: scale(0) translate(-30px, 0px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup7 #heart1 {
    transform: scale(0) translate(-30px, -15px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

@keyframes animateCircle {
    40% {
        transform: scale(10);
        opacity: 1;
        fill: #DD4688;
    }

    55% {
        transform: scale(11);
        opacity: 1;
        fill: #D46ABF;
    }

    65% {
        transform: scale(12);
        opacity: 1;
        fill: #CC8EF5;
    }

    75% {
        transform: scale(13);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: .5;
    }

    85% {
        transform: scale(17);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: .2;
    }

    95% {
        transform: scale(18);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: .1;
    }

    100% {
        transform: scale(19);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: 0;
    }
}

@keyframes animateHeart {
    0% {
        transform: scale(0.2);
    }

    40% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes animateHeartOut {
    0% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

button {
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

button:active {
    transform: scale(0.9);
}




footer {
    background-color: #383464;
    color: white;
    text-align: center;
    padding: 10px;
}