@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap');

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
    margin-top: 30px;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
}

.botao {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #3A2E6F ;
    border-width: 2px;
    border-style: solid;
    border-color: #000;
    border-radius: 10px;
    height: 90px;
    padding: 10px;
    margin-bottom: 20px;
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); */
    cursor: pointer;
    filter: /* drop-shadow(4px 4px #261E48 ) */ drop-shadow(6px 6px #130F24 );
    transition: filter 0.1s ease-out;
}

.fa-solid{
    padding-left: 10px;
}

.left-column,
.right-column {
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;

}

.left-column-image{
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.left-column{
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heart {
    position: absolute;
    top: 20px;
    right: 60px;
    padding: 20px;
    font-size: 50px;
    color: #e00000;
}


.tenho-interesse{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-column {
    /* border-top: 2px solid #000; */
    align-items: center;
    justify-content: center;
}

.cat-info {
    font-size: 23px;
    padding: 30px;
    padding-top: 0px;
    list-style: none;
    color: rgb(41, 41, 41);
}

.bullet-points {
    color: black;
}

.cat-info h1 {
    color: #383464;
    font-size: 100px;
}

.image {
    box-sizing: border-box;
    width: 90%;
    height: fit-content;
    user-select: none;
    border-radius: 10px;
    border: 5px solid #000000; 
    /* box-shadow: 0px 0px 0 3px #000000; */
    align-self: center;
    background-color: #000;
}


.adoteme {
    margin-left: 30px;
    color: white;
    display: flex;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    box-sizing: border-box;
    padding: 5px;
    padding-left: 50px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: #383464;
    border-bottom: 2px solid #000; 

}



.button-info {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
    color: #ffffff;
    display: inline-block;
    padding: 10px;
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffffff;
    background-image: url('../assets/image.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.logo {
    padding-right: 10px;
}

.quick-links {
    text-decoration: none;
    color: white;
}

.header-quick-links {

    display: block;
    padding-top: 10px;
    padding-bottom: 1px;
}

.left-column-images {
    user-select: none;
    height: 20%;
    /* background-color: #e6e6e6; */
    /* background-color: #7e6fc3; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-images {
    display: block;
    box-sizing: border-box;
    border: 0.2rem solid #000000;
    border-radius: 10px;
    margin: 10px;
    width: 25%;
    filter: drop-shadow(6px 6px #000000 );
    background-color: #000;
}

.footer {
    background-color: #383464;
    color: white;
    text-align: center;
    padding: 5px;
    display: block;
}

h3 {
    color: #FF0000;
    font-size: 20px;
    margin: 10px 0;
}

ul {
    list-style-type: disc;
    font-weight: 400;
    margin: 10px 0;
    padding: 0 20px;
}

img{
    display: block;
}

.button-info a{
    text-decoration: none;
    color: white;
}